*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #271f2b;
}
h2{
    position: relative;
    font-size: 3.5em;
    color: #352535;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -22px linear-grad;
}
h2 span{
    animation: animate 5s linear infinite;
}
h2 span:nth-child(even){
    animation-delay: 0.4s;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #352535;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%{
        color: #fff;
        text-shadow: 0 0 10px rgb(  224, 21, 89),
        0 0 20px rgb(  224, 21, 89),
        0 0 40px rgb(  224, 21, 89),
        0 0 80px rgb(  224, 21, 89);
    }
     
    
    
}